* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;

  background-color: black;

  font-family: monospace, monospace;
}

body {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  overflow-x: hidden;
}

.title-container {
  width: 100%;
  height: fit-content;

  position: absolute;
  left: 0;
  top: 0;

  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  z-index: 5;

  opacity: 0;

  animation: fadeScreenIn 1s linear 3s;
  animation-fill-mode: forwards;
}

.title {
  width: fit-content;
  height: fit-content;

  color: rgb(32, 139, 240);
  text-shadow: 0 0 1rem rgba(32, 139, 240, 1);
  letter-spacing: 3rem;
  font-size: 5rem;

  user-select: none;
}

.background {
  height: 100%;
  width: 100%;
  opacity: 0;

  background: radial-gradient(
    rgba(32, 139, 240, 0.3) 9%,
    transparent 9%
  );
  background-size: 6rem 6rem;
  background-position: 50% 50%;
  animation: fadeIn 2s linear;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    background-size: 18rem 18rem;
  }
  50% {
    background-size: 12rem 12rem;
  }
  100% {
    background-size: 6rem 6rem;
    opacity: 1;
  }
}

.welcome {
  opacity: 0;
  width: fit-content;
  height: fit-content;

  user-select: none;

  color: rgb(32, 139, 240);
  text-shadow: 0 0 1rem rgba(32, 139, 240, 1);
  letter-spacing: 3rem;
  font-size: 8rem;

  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);

  animation-name: msgMoveTowards;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes msgMoveTowards {
  0% {
    letter-spacing: 3rem;
    text-shadow: 0 0 1rem rgba(32, 139, 240, 0.4);
  }
  33% {
    letter-spacing: 3rem;
    text-shadow: 0 0 1rem white;
    opacity: 1;
  }
  67% {
    letter-spacing: 5rem;
    text-shadow: 0 0 1rem white;
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    letter-spacing: 7rem;
    text-shadow: 0 0 1rem white;
  }
}

.screen {
  width: 80%;
  max-width: 60rem;
  height: 70%;
  opacity: 0;

  border: 0.2rem solid rgba(32, 139, 240, 0.7);
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(32, 139, 240, 0.5);
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);

  overflow: hidden;

  animation: fadeScreenIn 1s linear 3s;
  animation-fill-mode: forwards;
}

.screen-background {
  height: 100%;
  width: 100%;

  position: absolute;

  background: linear-gradient(
    rgba(32, 139, 240, 0.2) 0.5rem,
    transparent 0.5rem
  );
  background-size: 1rem 1rem;
  background-position: 0% 0%;

  animation: panBackground 10s linear 0s infinite;
}

@keyframes panBackground {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 0% -100%;
  }
}

@keyframes fadeScreenIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.screen-image {
  width: 100%;
  height: 100%;

  position: absolute;
  left: 0;
  top: 0;

  background-image: url("images/sassy.jpg");
  filter: sepia(50%) hue-rotate(90deg);
  background-position: 0% 0%;
  background-size: 100%;

  animation: panImageSassy 25s linear 3s infinite;
}

@keyframes panImageSassy {
  0% {
    background-position: 40% 0%;
    background-size: 400%;
  }
  25% {
    background-position: 95% 85%;
    background-size: 400%;
  }
  25.001% {
    background-position: 20% 80%;
    background-size: 400%;
  }
  50% {
    background-position: 60% 100%;
    background-size: 400%;
  }
  50.001% {
    background-position: 95% 85%;
    background-size: 500%;
  }
  75% {
    background-position: 95% 60%;
    background-size: 500%;
  }
  75.01% {
    background-position: 0% 0%;
    background-size: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
    background-size: 100% 100%;
  }
}
